@font-face {
  font-family: "iconfont"; /* Project id 1911617 */
  src: url('iconfont.woff2?t=1632878621585') format('woff2'),
       url('iconfont.woff?t=1632878621585') format('woff'),
       url('iconfont.ttf?t=1632878621585') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dzo-shujuji:before {
  content: "\e928";
}

.dzo-shujuyuan:before {
  content: "\e99b";
}

.dzo-jixietongji:before {
  content: "\e70a";
}

.dzo-guanjianziliaoguanli:before {
  content: "\e70b";
}

.dzo-jixietaizhang:before {
  content: "\e70c";
}

.dzo-jianchaguanli:before {
  content: "\e70d";
}

.dzo-jixiezhidaokushezhi:before {
  content: "\e70e";
}

.dzo-kaoqinshujufenxi:before {
  content: "\e70f";
}

.dzo-biaoyangshijiance:before {
  content: "\e710";
}

.dzo-shipinjiankong:before {
  content: "\e711";
}

.dzo-huanjingjiance:before {
  content: "\e712";
}

.dzo-renyuandingwei:before {
  content: "\e713";
}

.dzo-AIshibie:before {
  content: "\e714";
}

.dzo-yewuzidianguanli:before {
  content: "\e715";
}

.dzo-renwugenzong:before {
  content: "\e716";
}

.dzo-anquanrizhi:before {
  content: "\e717";
}

.dzo-dashujufenxi:before {
  content: "\e718";
}

.dzo-richangjiancha:before {
  content: "\e6f6";
}

.dzo-jianyanpiguanli:before {
  content: "\e6f7";
}

.dzo-tongjifenxi:before {
  content: "\e6f8";
}

.dzo-jiancharenwuguanli:before {
  content: "\e6f9";
}

.dzo-suijijiancha:before {
  content: "\e6fa";
}

.dzo-yanshoujihua:before {
  content: "\e6fb";
}

.dzo-yanshoubiaozhunguifanku:before {
  content: "\e6fc";
}

.dzo-yanshoutaizhang:before {
  content: "\e6fd";
}

.dzo-zerenquyupingmiantu:before {
  content: "\e6fe";
}

.dzo-faqiyanshou:before {
  content: "\e6ff";
}

.dzo-tinggongdan:before {
  content: "\e700";
}

.dzo-fakuandan:before {
  content: "\e701";
}

.dzo-yanshouzonglan:before {
  content: "\e702";
}

.dzo-wentidengji:before {
  content: "\e703";
}

.dzo-zhuanxiangjiancharenwuguanli:before {
  content: "\e704";
}

.dzo-yanshouzhuangtai:before {
  content: "\e705";
}

.dzo-wbs:before {
  content: "\e706";
}

.dzo-zhenggaitongzhidan:before {
  content: "\e707";
}

.dzo-wentileixing:before {
  content: "\e708";
}

.dzo-guanjianziliaotaizhang:before {
  content: "\e709";
}

.dzo-jiancebaogao:before {
  content: "\e6e2";
}

.dzo-kaoqinxinxi:before {
  content: "\e6e3";
}

.dzo-hetongguanli:before {
  content: "\e6e4";
}

.dzo-tijianxinxi:before {
  content: "\e6e5";
}

.dzo-chengfajilu:before {
  content: "\e6e6";
}

.dzo-jianceshebei:before {
  content: "\e6e7";
}

.dzo-gongrenlvli:before {
  content: "\e6e8";
}

.dzo-zigezhengshu:before {
  content: "\e6e9";
}

.dzo-baojingzhongxin:before {
  content: "\e6ea";
}

.dzo-chuangjianjiancharenwu:before {
  content: "\e6eb";
}

.dzo-shangjijianchataizhang:before {
  content: "\e6ec";
}

.dzo-weidagongchengshenhe:before {
  content: "\e6ed";
}

.dzo-weixianzuoyeguanli:before {
  content: "\e6ee";
}

.dzo-weidagongchengguanli:before {
  content: "\e6ef";
}

.dzo-jianchataizhang:before {
  content: "\e6f0";
}

.dzo-weixianyuanbianshiyupingjia:before {
  content: "\e6f1";
}

.dzo-yinhuantaizhang:before {
  content: "\e6f2";
}

.dzo-yinhuanpaichabiao:before {
  content: "\e6f3";
}

.dzo-zhongdaweixianyuantaizhang:before {
  content: "\e6f4";
}

.dzo-shezhi:before {
  content: "\e6f5";
}

.dzo-kongzhitai:before {
  content: "\e62b";
}

.dzo-biaoqianzhongxin:before {
  content: "\e62c";
}

.dzo-huaxiangbuquan:before {
  content: "\e62d";
}

.dzo-shouzhongdongcha:before {
  content: "\e62e";
}

.dzo-shanghuguanli:before {
  content: "\e62f";
}

.dzo-renquntoushi:before {
  content: "\e630";
}

.dzo-xitongguanli:before {
  content: "\e631";
}

.dzo-yingxiaoguanli:before {
  content: "\e632";
}

